/* line 17, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby200-x64/lib/ruby/gems/2.0.0/gems/compass-0.12.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 3, ../sass/style.scss */
html {
  box-sizing: border-box;
}

/* line 6, ../sass/style.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 11, ../sass/style.scss */
body {
  background: #2e5174;
  transition-duration: .2s;
  color: #333;
  font-family: 'Roboto';
  font-size: 14px;
}

@media (max-width: 700px) {
  /* line 20, ../sass/style.scss */
  .container {
    margin: 20px !important;
  }

  /* line 24, ../sass/style.scss */
  .question-container .question-txt {
    font-size: 30px !important;
  }
}
/* line 30, ../sass/style.scss */
.container {
  max-width: 700px;
  background: #FFF;
  padding: 30px;
  margin: 40px auto;
}
/* line 36, ../sass/style.scss */
.container .navigation {
  text-align: center;
  margin-bottom: 20px;
}
/* line 40, ../sass/style.scss */
.container .navigation a {
  font-size: 20px;
  text-decoration: none;
  color: #333;
  padding: 3px;
}
/* line 46, ../sass/style.scss */
.container .navigation a.disabled {
  opacity: .2;
}
/* line 52, ../sass/style.scss */
.container .input {
  display: block;
  width: 100px;
  margin: 0 auto;
  padding: 10px;
  font-size: 24px;
  font-weight: 100;
  border: 0;
  border: 2px solid #bdbdbd;
}
/* line 63, ../sass/style.scss */
.container .question-container {
  height: 250px;
  position: relative;
  margin: 30px auto;
}
/* line 68, ../sass/style.scss */
.container .question-container .question-txt, .container .question-container .question-img {
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}
/* line 76, ../sass/style.scss */
.container .question-container .question-txt {
  font-size: 56px;
  text-align: center;
}
/* line 81, ../sass/style.scss */
.container .question-container .question-img {
  max-width: 100%;
  max-height: 250px;
}
/* line 87, ../sass/style.scss */
.container .question-list-container {
  overflow: hidden;
  margin-top: 20px;
  min-height: 130px;
}
/* line 92, ../sass/style.scss */
.container .question-list-container .question-list-item {
  display: block;
  float: left;
  clear: both;
  padding: 2px;
}
/* line 98, ../sass/style.scss */
.container .question-list-container .question-list-item.halfway {
  background: #ffea5e;
}
/* line 101, ../sass/style.scss */
.container .question-list-container .question-list-item.complete {
  background: #98e898;
}
/* line 106, ../sass/style.scss */
.container .question-list-container .reset-all {
  display: block;
  clear: both;
}

/* line 115, ../sass/style.scss */
.select-container {
  position: relative;
  display: inline-block;
  overflow: hidden;
  min-width: 50px;
}
/* line 121, ../sass/style.scss */
.select-container span {
  position: static;
}
/* line 125, ../sass/style.scss */
.select-container select {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 2;
  opacity: 0;
}

/* line 138, ../sass/style.scss */
select option:empty {
  display: none;
}
