<!DOCTYPE html>
<html ng-app="pluapp">
<head>
	<title>PLU Träning</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="css/style.css">
</head>
<body ng-controller="MainCtrl">

	<div id="appContainer" class="container">

		<div class="navigation">
			<a href="#" ng-click="goToPreviousSection()" class="{{ isFirstSection() ? 'disabled' : '' }}">&lt;</a>
			<div class="select-container">
				<span class="label">Del {{ parseInt(currentSection)+1 }}</span>
				<select ng-model="currentSection">
					<option ng-repeat="n in pluList track by $index" value="{{$index}}">Del {{ $index+1 }}</option>
				</select>
			</div>
			<a href="#" ng-click="goToNextSection()" class="{{ isLastSection() ? 'disabled' : '' }}">&gt;</a>
		</div>

		<div class="input-row">
			<a ng-click="respond('wrong')" href="#" class="action wrong">FEL</a>
			<input class="input" id="entry" type="text" placeholder="{{ showAnswer || showAnswerOnce ? currentPLU : '' }}" ng-readonly="isMobile" maxlength="5">
			
			<input type="checkbox" ng-model="showAnswer" id="showAnswerChk">
			<label class="showAnswerLabel" for="showAnswerChk"></label>

			<a ng-click="respond('ok')" href="#" class="action right">OK&nbsp;</a>
		</div>

		<div class="question-container">
			<p ng-if="showText" class="question-txt" ng-bind="pluList[currentSection][currentPLU]"></p>
			<img ng-if="showImage" class="question-img" alt="" ng-src="img/{{ currentPLU }}.jpg">
		</div>

		<p> Visa bild:
			<input type="radio" ng-model="showImageOpt" value="yes" id="showImageAlwChk">
			<label for="showImageAlwChk">Alltid</label>
			<input type="radio" ng-model="showImageOpt" value="rand" id="showImageRandChk">
			<label for="showImageRandChk">Slumpa</label>
			<input type="radio" ng-model="showImageOpt" value="no" id="ShowImageNevChk">
			<label for="ShowImageNevChk">Aldrig</label>
		</p>
		<p> Visa text:
			<input type="radio" ng-model="showTextOpt" value="yes" id="showTextAlwChk">
			<label for="showTextAlwChk">Alltid</label>
			<input type="radio" ng-model="showTextOpt" value="rand" id="showTextRandChk">
			<label for="showTextRandChk">Slumpa</label>
			<input type="radio" ng-model="showTextOpt" value="no" id="ShowTextNevChk">
			<label for="ShowTextNevChk">Aldrig</label>
		</p>

		<div class="question-list-container">
			<p class="question-list-item {{ ($parent.learned[key] > learnPoints.half-1 && $parent.learned[key] < learnPoints.full) ? 'halfway' : '';}} {{ $parent.learned[key] > learnPoints.full-1 ? 'complete' : ''; }}" ng-repeat="(key, value) in pluList[currentSection]">
				<input type="checkbox" ng-checked="$parent.learnBlacklist.includes(key)" ng-click="toggleBlacklistPLU(key)">
				{{ key +' '+ value }} {{ $parent.learned[key] }}
			</p>

			<br>
			<p><a class="reset-all" ng-click="clearLearnedBySession()" href="#">Återställ räkning</a> &nbsp; <a href="#" onclick="document.getElementById('appContainer').webkitRequestFullScreen();">Visa i fullskärm</a></p>
		</div>
	</div>

	<div id="overlay-keypad">
		<div class="num-row">
			<div class="num" data-send="7">7</div>
			<div class="num" data-send="8">8</div>
			<div class="num" data-send="9">9</div>
		</div>
		<div class="num-row">
			<div class="num" data-send="4">4</div>
			<div class="num" data-send="5">5</div>
			<div class="num" data-send="6">6</div>
		</div>
		<div class="num-row">
			<div class="num" data-send="1">1</div>
			<div class="num" data-send="2">2</div>
			<div class="num" data-send="3">3</div>
		</div>
		<div class="num-row">
			<div class="num" data-send="0">0</div>
			<div class="num" data-send="del">DEL</div>
			<div class="num" data-send="ok">OK</div>
		</div>
	</div>
	<div id="keypad-spaceholder"></div>

	<script src="js/angular.js"></script>
	<script src="js/script.js"></script>
</body>
</html>